@{
    ViewBag.Title = "Welcome";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            Ever find yourself unable to start doing something regular, say like <span class="highlight">training</span>. Or maybe you're like me, and are having problem compliting a dayly amount of <span class="highlight">housework</span>? You'll find that '<span class="highlight">how am i doing</span>' is just what you need. 
            Go register today by clicking the register button below. You'll see that you'll become a structured, well organized and disiplined person!
            
        </p>
    </div>
</section>
}

<h3>3 simple step to get you started</h3>

<ol class="round">
    <li class="one">
        <h5>Create an account</h5>
        We'll keep all you're data, and make sure they'll availible always.
    </li>
    <li class="two">
        <h5>Enter one of you're goals</h5>
        Say you would like to do some training every week. You should then enter <em>"Do 3 workouts every week"</em>. Or maybe you would like to start doing more housework at home? In case, enter your goal as <em>"Do 30 min of housecleaning every day"</em>
    </li>
    <li class="three">
        <h5>Start using the application</h5>
        Every time you've done something that is part of your goal, push the <em>done-it!</em> button. That's all. In case you are doing accourding to your goals, this page looks nice and green. But in case you skip training or housecleaning for a while, you'll start getting angry reminders, and you'll soon continuing working on your goal!
    </li>
</ol>

<section class="features">
    <section class="feature">
        <img src="~/Images/aspNetHome.png" alt="" />
        <h3>Easy goal followup</h3>
        <p>
            Register your goals, and you'll at anytime see if your're on track or behind your schedule.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/NuGetGallery.png" alt="" />
        <h3>Simple activity registration</h3>
        <p>
            One simple click is all it takes to register a activity. You'll of course have a full statistics and graph of all your activities.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/findHosting.png" alt="" />
        <h3>Fancy goal tracking</h3>
        <p>
            You can check if you're on or behind the schedule for reaching your goal.
        </p>
    </section>
</section>